$base-color: #777;
$second-color: #333;
$heading-font: Arial;

.element {
  width: 100px;
  height: 100px;
  background: black;
  p{
    color: $second-color;
  }
}

.link{
  color: $second-color;
  font-size: 12px;
}

.heading{
  font-family: $heading-font;
}
